*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
}

p {
    font-size: 1.4rem
}


.nav {
    background-color: #7C7C7D;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
     
}

.nav-container ol {
    display: flex;
    flex-direction: row;
}

.nav-container ol li {
    list-style-type: none;
    margin-left: 10px;

}

.nav-container ol li a {
    text-decoration: none;
}

.nav-container ol li a:hover {
    text-decoration: underline;
}

.about-me-section {
    background-color: #3D3D3D;
}


.main-content {
    background-image: url('./images/photo-1609945648638-cefddce6e6d8.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container h1 {
    display: block;
    border-bottom: 5px solid black;
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
    color: black
}

.main-container h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 45px 0px;
}

.container h2 {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    font-family: 'Exo 2', sans-serif;
}

.split {
    display: flex;
    flex-direction: row;
    padding: 40px 0px;
    flex-wrap: wrap;
}

.split img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 250px;
    display: block;
    border-radius: 50%;
    flex: 1;
    border: solid black 2px;
}

.bio {
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    position: relative;
    left: 20px;
    min-width: 400px;
}

.bio p {
    font-family: 'Alegreya Sans', sans-serif;
}

.resume-section {
    background-color: #7C7C7D;
    
}

.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 45px 0px;
}

#resume-header {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 2px solid black;
    font-family: 'Exo 2', sans-serif;
}

.resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 70px 0px;
}

.summary {
    flex: 1;
    line-height: 25px;
    
}

.summary h2 {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Exo 2', sans-serif;

}

.summary p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.3rem;
    
}

.smaller-screen-p {
    min-height: 400px;
    min-width: 207px;
}

.coding-dojo-link a {
    color: lightskyblue;
    text-decoration: none;
}

.coding-dojo-link a:hover {
    text-decoration: underline;
}

.skills {
    flex: 1;
    position: relative;
    left: 30px;
}

.smaller-screen-p {
    overflow-y: hidden;
}

.skills p {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-family: 'Alegreya Sans', sans-serif;
}

.skills div h2 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.skill {
    color: black;
}

.project-section {
    background-color: #3D3D3D;
    
}

.project-container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 45px 0px;
}

.project-container h2 {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    font-family: 'Exo 2', sans-serif;
}

.project-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 10px;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    margin: 0px 5px;
}

.project-card img {
    width: 350px;
    height: 250px;
    min-width: 277.5px;
    display: block;
}

.project-card a {
    padding: 20px;
    background-color: #7C7C7D;
    text-decoration: none;
    color: white;
    text-align: center;
}

.project-card a:hover {
    text-decoration: underline;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #7C7C7D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

.footer p {
    font-size: 1rem;
    margin-right: 15px;
    border-right: 1px solid black;
    padding-right: 10px;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials a img:hover {
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

#signature {
    color: black;
    border: none;
    text-align: center;
    font-size: 0.8rem;
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


/* Media Queries */

@media only screen and (max-width: 738px){
    #smaller-screen-img {
        margin: 0 auto;
    }

    .resume {
        display: flex;
        flex-direction: column;
    }

    .skills {
        margin-top: 25px;
    }

    .project-card {
        padding: 15px;
    }

}

@media only screen and (min-width: 738px) and (max-width: 1223px) and (orientation: portrait) {
    .project-card {
        padding: 15px;
    }

    .smaller-screen-p {
        overflow-y: hidden;
    }
}

@media only screen and (min-width: 375px) and (max-width: 456px) and (orientation: portrait) {
    .project-card img  {
        width: auto;
    }

    .bio p {
        position: static;
        width: 300px;
    }

    .skills div p {
        font-size: 1.2rem;
        width: 90%;
    }

    .main-container {
        width: 380px;
    }

    .main-container h1{
        font-size: 2rem;
        
    }

    .main-container h2 {
        font-size: 2rem;
    }

    
}

@media only screen and (max-width: 386px) and (orientation: portrait) {
    .main-container {
        width: 380px;
    }

    .main-container h1{
        font-size: 2rem;
        
    }

    .main-container h2 {
        font-size: 2rem;
    }

    
    
}

/* Iphone 11 Pro Mac */

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 
        .main-container {
            width: 380px;
        }
    
        .main-container h1{
            font-size: 2rem;
            
        }
    
        .main-container h2 {
            font-size: 2rem;
        }

        .main-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        

    }