*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
}

p {
    font-size: 1.4rem;
}


.nav {
    background-color: #28282B;
    border-bottom: 3px solid white;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.nav-container ol {
    display: flex;
    flex-direction: row;
}

.nav-container ol li {
    list-style-type: none;
    margin-left: 10px;

}

.nav-container ol li a {
    text-decoration: none;
}

.nav-container ol li a:hover {
    text-decoration: underline;
}

.about-me-section {
    background-color: #28282B;
    width: 100vw;
    
}

.main-content {
    background-color: #28282B;
    width: 100vw;
    height: 100vh;
    border-bottom: 3px solid white;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.main-container h1 {
    font-size: 9vw;
    color: whitesmoke;
}

.main-container h2 {
    font-size: 6vw;
    color: whitesmoke;
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    padding: 45px 0px;
    overflow-x: hidden;
}

.container h2 {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 2px solid white;
    margin-bottom: 40px;
    font-family: 'Exo 2', sans-serif;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.split img {
    width: 100%;
    height: 100%;
}

#smaller-screen-img {
    height: 250px;
    width: 320px;
    border: 1px solid black;
    border-radius: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bio p {
    line-height: 60px;
    font-size: 1.3rem;
}

.resume-section {
    background-color: #28282B;
    border-top: 3px solid white;
    
}

.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    padding: 45px 0px;
    overflow-x: hidden;
}

#resume-header {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 2px solid white;
    font-family: 'Exo 2', sans-serif;
}

.resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 70px 0px;
    
}

.summary {
    flex: 1;
    line-height: 25px;
    
}

.summary h2 {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Exo 2', sans-serif;
    overflow: hidden;
    position: relative;
    bottom: 4px;

}

.summary p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.3rem;
    
}

.smaller-screen-p {
    min-height: 400px;
    min-width: 207px;
}

.coding-dojo-link a {
    color: lightskyblue;
    text-decoration: none;
}

.coding-dojo-link a:hover {
    text-decoration: underline;
}

.skills {
    flex: 1;
    position: relative;
    left: 30px;
}

.smaller-screen-p {
    overflow: hidden;
}

.skills p {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-family: 'Alegreya Sans', sans-serif;
}

.skills div h2 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    position: relative;
    bottom: 4px;
}

.skill {
    color: white;

}

/* actual resume content */

.actual-resume-section {
    background-color: #28282B;
    border-top: 3px solid white;
}

.actual-resume-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
    padding: 45px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4{
    font-size: 2.0rem;
}

li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.job-title-link a {
    text-decoration: none;
    color: lightskyblue;
}

.job-title-link a:hover {
    text-decoration: underline;
}

#resume-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

#actual-resume-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#job-description {
    margin-top: 20px;
    
}

.project-section {
    background-color: #28282B;
    border-top: 3px solid white;
    
}

.project-container {
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 45px 0px;
    overflow-x: hidden;
}

.project-container h2 {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 2px solid white;
    margin-bottom: 40px;
    font-family: 'Exo 2', sans-serif;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 0px 5px;

}

.project-card-info{
    width: 100%;
    flex: 2;
    padding: 0px 15px;
}

.project-info{
    flex: 1;
}

.project-card img {
    width: 17rem;
    height: 14rem;
}

.project-card-video{
    width: 17rem;
    height: 14rem;
}

.project-card-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.PCI-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.PCI-info{
    padding: 10px;
}

.PCI-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.PCI-button a {
    background-color: #3D3D3D;
    padding: 7px;
    border-radius: 5px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    
}

.footer {
    background-color: #3D3D3D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

.footer p {
    font-size: 1rem;
    margin-right: 15px;
    border-right: 1px solid black;
    padding-right: 10px;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
}

.socials a img:hover {
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

#signature {
    color: whitesmoke;
    border: none;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 15px;
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
    overflow: hidden;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
    overflow: hidden;
}


/* Media Queries */

@media only screen and (max-width: 1400px) {
    .bio {
        margin: 0 auto;
    }
    #smaller-screen-img {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 865px) {

    .split {
        display: flex;
        flex-direction: column;
    }
    #smaller-screen-img {
        margin: 0 auto;
    }

    .resume{
        display: flex;
        flex-direction: column;
    }

    .project-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .project-card {
        flex-direction: column;
    }

    #resume-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    h4 {
        font-size: 1.6rem;
        text-align: center;
    }

    li {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    #job-date {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 738px){
    #smaller-screen-img {
        margin: 0 auto;
    }

    .resume {
        display: flex;
        flex-direction: column;
    }

    .skills {
        margin-top: 25px;
    }

    .project-card {
        padding: 15px;
    }

    #resume-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h4 {
        font-size: 1.3rem;
        text-align: center;
    }

    li {
        font-size: 1rem;
        margin-top: 5px;
    }

    #job-date {
        margin-top: 10px;
    }



}

@media only screen and (min-width: 738px) and (max-width: 1223px) and (orientation: portrait) {
    .project-card {
        padding: 15px;
    }

    .smaller-screen-p {
        overflow-y: hidden;
    }
}

@media only screen and (min-width: 375px) and (max-width: 456px) and (orientation: portrait) {
    .project-card img  {
        width: auto;
    }

    .bio p {
        position: static;
        width: 300px;
    }

    .skills div p {
        font-size: 1.2rem;
        width: 90%;
    }

    .main-container {
        width: 380px;
    }

    .main-container h1{
        font-size: 2rem;
        
    }

    .main-container h2 {
        font-size: 2rem;
    }

    .PCI-info {
        padding: 0px;
    }

    
}


@media only screen and (max-width: 386px) and (orientation: portrait) {
    .main-container {
        width: 380px;
    }

    .main-container h1{
        font-size: 2rem;
        
    }

    .main-container h2 {
        font-size: 2rem;
    }
    
}


/* Iphone 11 Pro Mac */

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 
        .main-container {
            width: 380px;
        }
    
        .main-container h1{
            font-size: 2rem;
            
        }
    
        .main-container h2 {
            font-size: 2rem;
        }

        .main-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        

    }